
html, body{
    width: 1280px;
    height: 800px;
    margin: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: contain;
}
.background_home{
    background-image: url(../images/background.svg);
    background-position: top;
}
.background_page{
    background-image: url(../images/RI_background.png);
    background-position: center;
}

#header{
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 20%;
}
#content{
    position: relative;
    margin-top: 0;
    height: 60%;
}
#footer{
    position: relative;
    margin-top: 0;
    height: 20%;
}
#header_logo{
    position: absolute; /*relative;*/
    top: 70%;
    height: 80%;
    color: black;
    text-align: left;
    margin-left: 10px;
    font-size: 70px;
    font-weight: bold;
    font-family: arial, Arial, Helvetica, sans-serif;
}


/***
 button features 
 ***/

/* Main Button */
button:hover{
    cursor: pointer;
    /* outline:0;
    color:transparent; */
}
#lab_selectors{
    text-align: center;
}
.button_main{
    position: relative;
    top:220px;
    float: block;
    color: white;
    border: none;
    background-color: #0f4beb;
    height: 200px;
    width: 200px;
    font-size: 25px;
    vertical-align: bottom;
}
.button_main:hover{
    background-color: #0d41d1;
    text-decoration: underline;
    font-weight: bold;
}

/* setting button */
.dropdown_setting{
    position: relative;
    display: block;
    float:right;
    width: 50px;
    height: 150px;
}
.dropdown_setting button:focus{
    filter: invert(86%) sepia(3%) saturate(15%) hue-rotate(321deg) brightness(83%) contrast(92%);
}

#button_setting{
    background:  url(../images/setting.png) no-repeat; 
    background-size: contain;
    border: none;
    width: 50px;
    height: 50px;
}

#button_volume_up{
    background-image: url(../images/volume_up.png);
    background-size: contain;
}
#button_volume_down{
    background-image: url(../images/volume_down.png);
    background-size: contain;
}
#button_volume_mute{
    background-image: url(../images/volume_mute.png);
    background-size: contain;
    background-color: #f1f1f1;
    /* filter: invert(100%); */
}
/* #button_volume_mute:hover{
    filter: invert(60%) sepia(3%) saturate(15%) hue-rotate(321deg) brightness(83%) contrast(92%);
} */
.dropdown_setting_content{
    position: absolute;
    z-index: 1;
    display: none;
}
.dropdown_setting_content button{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}
.dropdown_setting_content button:hover{
    cursor: pointer;
    filter: invert(86%) sepia(3%) saturate(15%) hue-rotate(321deg) brightness(83%) contrast(92%);
}

/* menu button */
.dropdown_menu{
    position: relative;
    display: block;
    float:right;
    /* width:50px;
    height: 100px; */
}
.dropdown_menu>button:hover{
    filter: invert(86%) sepia(3%) saturate(15%) hue-rotate(321deg) brightness(83%) contrast(92%);
}

#button_menu{
    position:relative;
    right:0px;
    background-image: url(../images/menu.png);
    background-size: contain;
    background-color: transparent;
    border: none;
    width:50px;
    height: 50px;
}

.button_mode{
    position: relative;
    top:10px;
    right:50px;
    float: block;
    color: #1b51e2;
    border: none;
    background-color: #f3f6fe;
    height: 50px;
    width: 150px;
    font-size: 15px;
    vertical-align: bottom;
}
.button_mode:hover{
    text-decoration: underline;
    background-color: #ebebeb;
}
.dropdown_menu_content{
    /* position: absolute; */
    /* z-index: 1;*/
    right:100%; 
    float:left; 
    display: none;
}
#menu_buttons{
    display:none;
    text-align: center;
}


/* contents */
#detail_page_content{
    display: none;
}
.info_container{
    position: relative;
    top:160px;
    float: right;
    right:330px;
    text-align: center;
}
#qr{
    position: relative;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height:300px;
    text-align: center;
}
.info_container>button{
    position: relative;
    top:-330px;
    right: -330px;
    background-color: transparent;
    border: none;
    width:200px;
    height:200px;
    font-size: 30px;
    font-weight:bold;
    text-align: left;
    color: white; 
}
.projects{
    position: relative;
    top: 130px;
    float:left;
    left:80px;
} 

.project_items{
    position: relative;
    float:left;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat; 
    /* background-image: url(../images/banner.svg); */
    background-position: cover;
    width:150px;
    height:150px;  
    border: none;
    margin-right: 10px;
    vertical-align: middle;
}
.line2{
    position: relative;
    top: 160px;
    float: left;
    left: -480px;
    margin-right: 10px;
}
.project_items>div{
    font-size: 25px;
    font-weight:bold;
    text-align: left;
    color: white; 
}

/* FOOTER CONTENTS*/
/* home button */
.button_home{
    background: url(../images/home.png) no-repeat;
    background-size: contain;
    border: 10px transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    right: 0;
}
.button_exit{
    background-color: #f1f1f1;
    border: 1px #0f4beb solid;
    color: #0f4beb;
    width: 80px;
    height: 50px;
    font-size: 20px;;
    float: right;
    margin-right:30px;
    margin-top:80px;
}

